.topTabUL, .topTabUL li{list-style-type:none;margin:0;padding:0;}
.topTabUL{padding-left:5px; display:block; height:30px; border-bottom:3px solid #06c; box-shadow:0 3px 0 #ddd; overflow: hidden;}
.topTabUL li{float:left; width:100px; height:30px; margin-right:10px; background:#999;  line-height:30px;text-align:left;cursor:pointer;color:#fff; border-radius: 3px 3px 0 0!important;}
.topTabUL li a.text{display: inline-block; width: 80px; height: 30px; text-decoration: none; padding-left:10px; overflow: hidden; color:#eee;}
.topTabUL li a.text:hover{color:#fff; text-decoration: none;}
.topTabUL li .close{float:right;width:10px;height:20px;margin-right:6px;line-height:20px;}
.close{background-position:right center;}
.topTabUL li.currentClass{ background:#06c; background: -webkit-gradient(linear, 0 0, 0 100%, from(#69f), to(#06c)); background: -moz-linear-gradient(top, #69f, #06c);}
.red{color:#FF0000;}
.ulStyle,.ulStyle li{margin:0;padding:0;list-style-type:none;}
.ulStyle{max-width:150px;}
.ryulStyle{max-width:190px;}
.ulStyle li.title{margin-bottom:10px;padding-left:20px;background:url(../img/arrow.png) no-repeat left 2px;color:#333333;font-weight:bolder;cursor:pointer;}
.ulStyle li.open{background:url(../img/arrowopen.png) no-repeat left 6px;}
.ulStyle li a{color:#333333;font-weight:normal;line-height:26px;}
.ulStyle li a:hover{text-decoration:none;}
.ulStyle li .submenu{display:none;margin-left:-14px;}
.ulStyle li .open{display:block;}
.ulStyle li ul.submenu a{display:block;font-weight:normal;line-height:24px;}
.ulStyle li ul.submenu a.hover{color:#4B8DF8;}
.ulStyle li ul.submenu a:hover{color:#4B8DF8;text-decoration:none;}

.ajaxLoadPage table a{text-decoration:underline;}

.no-padding-right{padding-right:0;margin-left:15px;}
.datepicker-switch{text-align:center;}

.slideBorder{min-height:700px;padding:20px;border:2px double #b4d7da;border-radius:0 10px 0 0!important;background:#f6f7f9;}
.formStyle{margin:15px 0 25px 0;padding-top:15px;border:2px double #b4d7da;background:#e7e7e7;}
.form-horizontal .labelStyle{text-align:right;padding-right:0}

/* layout reset */
html, body{height:100%; overflow: hidden;}
body.index{padding-right:0; background:#666;}
.page-container{position: absolute; top:45px; left:0; right:0; bottom:30px;}
.page-sidebar-wrapper{width:225px; height:100%;}
.navbar-collapse.collapse{height:100%;}
.scroller{height:100%; padding-right:0;}

.page-content-wrapper{position: absolute; width:auto; left:225px; right:0; top:0; bottom:0; margin-top:-7px;}
.page-content-wrapper-nt{position: absolute; width:auto; left:43px; right:0; top:0; bottom:0;margin-top:-7px; }



.page-content{position: absolute; top:0; right:0; bottom:0; left:0; margin:0; min-height: 400px; padding-bottom: 0;}
.iframe-wrap{position: absolute; top:58px; left:20px; right:0; bottom:0;}
.iframe-page{width:100%; height:100%; overflow:auto;}
.footer{position: absolute; width:100%; left:0; bottom:0; background:#000;}
.t_alert{
	width: 300px;
	height: 300px;
	background: #FFFfff;
	border: 1px solid #CCC;
	position: fixed;
	bottom: 0;
	right: 10px;
}
.t_alert .top{
	height: 40px;
	border-bottom: 1px solid #CCC;
	line-height: 40px;
}
.t_alert .top .title{
	font-size: 16px;
	padding-left: 10px;
	float: left;
}
.t_alert .top .close{
	padding-top: 40px;
	margin-right: 10px;
}
.t_alert p{
	font-size: 14px;
	line-height: 30px;
	padding-left: 10px;
}
.text-indent{
	text-indent: 2em;
}
.collapseHegt{
	height: 100%;
}