<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:rws="http://code.cn.ibm.com/schema/spring/rws"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
   	http://code.cn.ibm.com/schema/spring/rws http://code.cn.ibm.com/schema/spring/rws.xsd
   	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
   	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
   	">
	
    <aop:aspectj-autoproxy proxy-target-class="true"  />
    <mvc:default-servlet-handler/>
	<!-- 注解-->
	<context:annotation-config />
  
    <!-- 全局适配  -->
	<bean id="dalClient" class="com.ibm.framework.dal.client.support.PaginationDalClient">		
		<property name="resources" value="classpath:sqlMap/sqlMap_*.xml" />
		<property name="defaultDataSource" ref="groupDataSourceOne" />
	</bean>
	
	<!-- 加载properties文件 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
		  <value>classpath:jdbc.properties</value>
		</property>
		<property name="fileEncoding" value="utf-8" />
	</bean>

    <!--  数据源  -->
	<bean id="groupDataSourceOne" class="com.ibm.framework.dal.group.GroupDataSource">
		<property name="dataSourceGroup" ref="dsGroupOne" />
	</bean>
	<rws:ds_group id="dsGroupOne">	
		<rws:wr_ds name="master" ref="dataSourceForCRMSGM" type="mysql" />
		<rws:ro_ds name="slave1" ref="dataSourceForCRMSGM" weight="100" type="mysql" />
	</rws:ds_group>
	<bean id="mysqlDialect" class="com.ibm.framework.dal.dialect.impl.MySQLDialect" />
	<bean id="dialectFactory" class="com.ibm.framework.dal.dialect.DialectFactory">
		<property name="mapDialect">
			<map>
				<entry key="mysql">
					<ref bean="mysqlDialect" />
				</entry>
			</map>
		</property>
	</bean>
	
	<!-- jdbc连接 -->
	<bean id="dataSourceForCRMSGM" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${driverClassName}" />
		<property name="url" value="${url}" />
		<property name="username" value="${userName}" />
		<property name="password" value="${passWord}" /> 
		<property name="initialSize" value="${initialSize}" />
		<property name="maxActive" value="${maxActive}" />		
		<property name="maxIdle" value="${maxIdle}" />
		<property name="maxWait" value="${maxWait}" />
		<property name="validationQuery" value="${validationQuery}" />
		<property name="poolPreparedStatements" value="${poolPreparedStatements}" />
		<property name="defaultAutoCommit" value="${defaultAutoCommit}" />		
	</bean>
	
	
</beans>
