<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
default-autowire="byName"> 


  <!-- 自动扫描controller包下的所有类，使其认为spring MVC的控制器 -->
  <context:component-scan base-package="com.cloudfy"/>
  
  <!-- 避免IE执行Ajax时，返回json出现下载文件 -->
  <bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
       <property name="supportedMediaTypes">
           <list>
               <value>text/html;charset=UTF-8</value>
           </list>
       </property>
  </bean>
  
  <!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
  <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
       <property name="messageConverters">
           <list>
               <ref bean="mappingJacksonHttpMessageConverter" /><!-- json转换器 -->
           </list>
       </property>
  </bean>
  
  
  <!-- 上传配置，限制上传大小 -->
  <bean id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">   
       <property name="maxUploadSize">  
            <value>1240000</value>  
        </property>  
        <property name="maxInMemorySize">  
            <value>124000</value>  
        </property>
  </bean>
 
  <!-- 静态资源 -->
  <mvc:annotation-driven/>  
  <mvc:resources mapping="/statics/**/**/**/" location="/statics/" />
  <mvc:resources mapping="/images/**/**" location="/images/" />
  
  <!-- springMVC 拦截器 -->
 <mvc:interceptors>
    <mvc:interceptor>
	  <mvc:mapping path="/web/**" />
	  <bean class="com.cloudfy.controller.common.inter.UserInterceptor" />
	</mvc:interceptor>
  </mvc:interceptors>

  <!-- freemarker的配置 -->
  <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
	  <property name="templateLoaderPath" value="/WEB-INF/freemark/" />
	  <property name="defaultEncoding" value="utf-8" />
	  <property name="freemarkerSettings">
		   <props>
			    <prop key="template_update_delay">10</prop>
			    <prop key="locale">zh_CN</prop>
			    <prop key="datetime_format">yyyy-MM-dd</prop>
			    <prop key="date_format">yyyy-MM-dd</prop>
			    <prop key="number_format">#.##</prop>
		    </props>
	  </property>
	  <!--全局变量部分 -->
	  <property name="freemarkerVariables">
		<map>
			<!-- 生产路径 
			<entry key="resRoot" value="/statics/resources" />
			<entry key="futRoot" value="" />
			<entry key="realImgPath" value="E:/www2/zhangt-0b44449e649aee1e0164b519f6cd054b/webapp/images/" />
			<entry key="resultImgPath" value="https://www.cloudfy.cn/images/" />
		     -->
			<!-- 本地路径   与wangEditor.js文件路径同步  -->
			<entry key="resRoot" value="/cloudfy/statics/resources" />
			<entry key="futRoot" value="/cloudfy" />
			<entry key="realImgPath" value="E:/www2/zhangt-0b44449e649aee1e0164b519f6cd054b/webapp/images/" />
			<entry key="resultImgPath" value="https://www.cloudfy.cn/images/" />
			
		</map>
	  </property>
  </bean>
  <!-- FreeMarker视图解析   如返回student。。在这里配置后缀名ftl和视图解析器。。-->
  <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
	  <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
	  <property name="suffix" value=".html" />
	  <property name="contentType" value="text/html;charset=utf-8" />
	  <property name="requestContextAttribute" value="request" />
	  <property name="exposeRequestAttributes" value="true" />
	  <property name="exposeSessionAttributes" value="true" />
	  <property name="exposeSpringMacroHelpers" value="true" />
	  <property name="order" value="0"/>
	  
  </bean>
  
  
  <!--通用视图解析器-->
	<bean id="viewResolverCommon" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/freemark/"/>  
    	<property name="suffix" value=".jsp"/><!--可为空,方便实现自已的依据扩展名来选择视图解释类的逻辑  -->
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.InternalResourceView</value>
		</property>
		<property name="order" value="1"/>
	</bean>
	
  <!--注册获取bean的工具类-->
  <bean id="applicationContextUtil" class="com.cloudfy.controller.common.ApplicationContextUtil"></bean> 
 
 
</beans>